<menu id="nav"> 
    <div class="row">
        <h4>Bootstrap</h4>
        <ul class="nav nav-pills nav-stacked side-nav">
            <li><a href="/bootstrap/basic/">Basic Elements</a></li>
            <li><a href="/bootstrap/fieldset/">Fieldsets</a></li>
            <li><a href="/bootstrap/complexlayout/">Complex Layout</a></li>
        </ul>
    </div>
    <div class="row">
        <h4>Foundation</h4>
        <ul class="nav nav-pills nav-stacked side-nav">
            <li><a href="/foundation/basic/">Basic Elements</a></li>
            <li><a href="/foundation/fieldset/">Fieldsets</a></li>
            <li><a href="/foundation/complexlayout/">Complex Layout</a></li>
        </ul>
    </div>
    <!--div class="row">
        <h4>Gridforms</h4>
        <ul class="nav nav-pills nav-stacked side-nav">
            <li><a href="#">Complex Layout</a></li>
            <li><a href="#">Bank app</a></li>
        </ul>
    </div-->
    <!--div class="row">
        <h4>AngularJS</h4>
        <ul class="nav nav-pills nav-stacked side-nav">
            <li><a href="#">Dinamic form</a></li> 
       </ul>
    </div-->
</menu>
